@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}
/* navbar */
nav{
    display: flex;
    background-color: black;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    justify-content: center;
}

.navbar{
    margin: 1.5vh 24vh 0 24vh ;
    width: 100%;
    display: flex;
}

.nav-logo{
    width: 11.5%;
    justify-content: center;
}

.nav-items{
    width: 88.5%;
}

.nav-upper{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
}

.nav-upper p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.7rem;
    color: white;
}

.nav-lower{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.lower-items a{
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    color: white;
    margin: 4px;
    transition: color 0.1s;
}

.lower-items a:hover{
    color: #dcdcdc9e;
}

.lower-img a{
    margin: 4px;
    text-decoration: none;
    filter: grayscale(0%);
}

.lower-img a:hover{
    filter: grayscale(50%);
    transition: filter 0.5s;
}

/* navbar img */
.nav-logo img{
    width: 86px;
}

a img{
    width: 24px;
}

.fb img{
    width: 22px;
}

.yt img {
    width: 28px;
}


/* section */
section{
    min-height: 100vh;
    width: 100%;
}

.box{
    margin: 15vh 18vh 0 18vh;
    min-height: 85vh;
    width: 80%;
}

.dua{
    background-image: url('../img/bg_01.jpg');
}

.dua-wrapper{
    display: flex;
    border: 1px solid white;
    margin: 15vh 20vh 0 20vh;
}

.dua-wrapper h1{
    font-size: 3rem;
    width: 25%;
}

.news-wrap{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}

.news-wrap a{
    margin: 0 60px 72px 0;
    width: 300px;
    text-decoration: none;
    color: white;
}

.news-wrap a .news-items .news-up{
    display: flex;
    align-items: center;
    border: 1px solid white;
}

.news-up .date{
    height: fit-content;
    margin: 20px 0 0 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.8rem;
}

.news-up .event{
    margin: 0 10px 0 20px;
    padding: 5px;
    font-size: 0.7rem;
    font-family: 'Roboto', sans-serif;
    background-color: #1947ba;
}

.event p{
    padding: 0 15px 0 15px;
}

.news-wrap a .judul{
    font-family: 'Roboto', sans-serif;
}
.news-wrap a img{
    object-fit: cover;
    width: 300px;
    height: 300px;
}

img .bg{
    position: absolute;
}
/* styles.css */

/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .slider-container {
    position: relative;
    width: 80%;
    margin: 50px auto;
  }
  
  .slider {
    display: flex;
    width: 300%; 
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    flex: 0 0 100%;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  } */